.App {
  text-align: center;
}

.AppHeader {
  background-image: url('../images/pogs.jpg');
  height: 400px;
}

.AppText {
  margin: 40px;
}

.NavbarHeader {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #00B9A4;
  justify-content: space-between;
}

.NavbarHeader a {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-transform: uppercase;
}

a:hover {
  color: lavender;
}

a:active {
  color: purple;
}

li {
  padding-bottom: 20px;
}

.Create {
  margin-left: 40px;
  margin-top: 40px;
}

.Post {
  margin-left: 40px;
  margin-top: 40px;
}

.PostList {
  margin-left: 40px;
  margin-top: 40px;
}

input {
  padding-top: 5px;
}

footer {
  text-transform: lowercase;
  color: purple;
  background-color: lavender;
  margin-top: 20px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
